export(addLayers)
export(isServerRunning)
export(OSMMap.httpd.handler)
export(OSMMap)
export(choroplethMap)
import(RJSONIO)
import(tools)
import(plyr)
import(ggplot2)
S3method(plot,OSMMap)
S3method(print,OSMMap)
