<html>

<head>
<title>R HTML Example</title>
</head>

<body>
<p> Open StreetMapR is designes to work either interactively with plots or interactively within an RMarkdown document.  Reporting and reproducible research at it's best!</p>

Let's take a look at a dataset.

<!--begin.rcode
library(OpenStreetMapR)
df = data.frame(lat=runif(100, 38,40), long=-runif(100, 104,106), 
                size=runif(100)*20, color=sample(rainbow(10), 100, replace=T))

head(df)
end.rcode-->

You can plot this in a window easily with

<!--begin.rcode echo=TRUE
#plot(OSMMap(df)
#plot(OSMMap(df, size='size', color='color'))
end.rcode-->

but we can also plot it as part of this document, inline with results, just make sure to specify the plot height (default width is full screen).

<!--begin.rcode results='asis'

(print(OSMMap(df, size='size', color='color')))

end.rcode-->


</body>
</html>



